.login-container {
  display: grid;
  place-items: center;
  margin: 40px;
  background: $white;
  padding: 20px;
  border-radius: 10px;

  form {
    .input-block {
      margin: 10px 0;

      label {
        display: block;
      }

      input {
        height: 40px;
        min-width: 200px;
        border-radius: 5px;
        border: 1px solid $grey;
        outline: none;
        padding-left: 15px;

        &:hover,&:focus {
          border: 1px solid $yellow;
          @include transit;
        }
      }
    }

    button {
      font-family: DINPro-Bold;
      background: $yellow;
      text-transform: uppercase;
      cursor: pointer;
      padding: 10px;
      border: none;
      width: 100%;

      &:hover {
        background: $dark-yellow;
        color: $white;
        @include transit;
      }
    }
  }

  small {
    margin: 10px;

    a {
      color: $yellow;
    }
  }
}

@include md {
  .login-container {
    display: grid;
    place-items: center;
    width: 50%;
    margin: 40px auto;
    background: $white;
    padding: 40px;
    border-radius: 10px;

    form {
      .input-block {
        margin: 10px 0;

        label {
          display: block;
        }

        input {
          height: 40px;
          min-width: 200px;
          border-radius: 5px;
          border: 1px solid $grey;
          outline: none;
          padding-left: 15px;

          &:hover,&:focus {
            border: 1px solid $yellow;
            @include transit;
          }
        }
      }

      button {
        font-family: DINPro-Bold;
        background: $yellow;
        text-transform: uppercase;
        cursor: pointer;
        padding: 10px;
        border: none;
        width: 100%;

        &:hover {
          background: $dark-yellow;
          color: $white;
          @include transit;
        }
      }
    }

    small {
      margin: 10px;

      a {
        color: $yellow;
      }
    }
  }
}
@include lg {
  .login-container {
    display: grid;
    place-items: center;
    width: 30%;
    margin: 40px auto;
    background: $white;
    padding: 40px;
    border-radius: 10px;

    form {
      .input-block {
        margin: 10px 0;

        label {
          display: block;
        }

        input {
          height: 40px;
          min-width: 200px;
          border-radius: 5px;
          border: 1px solid $grey;
          outline: none;
          padding-left: 15px;

          &:hover,&:focus {
            border: 1px solid $yellow;
            @include transit;
          }
        }
      }

      button {
        font-family: DINPro-Bold;
        background: $yellow;
        text-transform: uppercase;
        cursor: pointer;
        padding: 10px;
        border: none;
        width: 100%;

        &:hover {
          background: $dark-yellow;
          color: $white;
          @include transit;
        }
      }
    }

    small {
      margin: 10px;

      a {
        color: $yellow;
      }
    }
  }
}
